.row {

	@mixin clearFix;

	@mixin atMedium {
		&--medium4 {
			float : left;
			width : 33.33%;

			&--medium4--bmargin-until-medium {
				margin-bottom : 0;
			}

		}
					&--medium4--larger {
						width : 37% ;
					}

					&--medium4--bmargin-until-medium {
						margin-bottom : 1rem;
					}

					&__medium6 {
						float :left;
						width : 50%;
					}


		&--medium8 {
			float : left;
			width : 66.66%;
		}

						&--medium8--smaller {
							width : 63%;
						}

	}
	&--gutters {
		margin-right : -65px;
	}

	&--gutters > div {
		padding-right : 65px;
	}

	&__gutters-large {
		padding-right:-100px;
	}

	&__gutters-large > div {
		padding-right: 100px;

	}

	&--top-padding {
		padding-top: 80px;
	}

	&--gutters-small {
		padding-right: -45px;
	}

	&--gutters-small > div  {
		padding-right: 45px;
	}

	@mixin atLarge {
		&--large4 {
			float : left;
			width : 33.33%;

			&--large4--bmargin-until-medium {
				margin-bottom : 0;
			}

		}
					&--large4--larger {
						width : 37% ;
					}

					&--large4--bmargin-until-medium {
						margin-bottom : 1rem;
					}

					&__large6 {
						float :left;
						width : 50%;
					}


		&--large8 {
			float : left;
			width : 66.66%;
		}

						&--large8--smaller {
							width : 63%;
						}

	}
	&--gutters {
		margin-right : -65px;
	}

	&--gutters > div {
		padding-right : 65px;
	}

	&__gutters-large {
		padding-right:-100px;
	}

	&__gutters-large > div {
		padding-right: 100px;

	}

	&--top-padding {
		padding-top: 80px;
	}

	&--gutters-small {
		padding-right: -45px;
	}

	&--gutters-small > div  {
		padding-right: 45px;
	}

	/*Begin Equal Height row */
	.flexbox &--equal-height-medium {
		@mixin atMedium {
			display : flex ;
		}

		& > div {
			float : none;
			display : flex;
		}
	}

  .flexbox	&--equal-height-large {
		@mixin atLarge {
			display : flex ;
		}

		& > div {
			float : none;
			display : flex;
		}
	}

}
